PORT=19000
SESSION_SECRET=replace-with-strong-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
ALLOWED_ROOT=/home/ubuntu
#MONGODB_URI=mongodb://username:password@44.23.136.216:27017/script_manager_db?replicaSet=rs0&authSource=admin
MONGODB_URI=mongodb://username:password@serverip:port/dbname?replicaSet=rs0&authSource=admin
INITIAL_SCRIPTS=[{"name":"Git Pull Projects","path":"/home/ubuntu/bin/git-pull-projects.sh","description":"Pull origin/main for configured repositories"},{"name":"NPM Install Projects","path":"/home/ubuntu/npm-install-projects.sh","description":"Run npm install for selected projects"},{"name":"Docker Compose Deploy","path":"/home/ubuntu/docker-compose-deploy.sh","description":"Run docker compose up -d --build in deploy directories"}]
RUNS_MAX_PER_SCRIPT=200
RUN_RETENTION_DAYS=90
